.willtolive 
{ 	
	display: block;
    position: absolute;
    top: 16%;
    left: 15%;
    width: 70%;
    height: 70%;
    font-family: sans-serif;
    font-size: 40px;
    background-color: powderblue;
    vertical-align: middle;
    text-align: center;
	border: 2px solid #a1a1a1;
	border-radius: 25px;
	
}
.body
{
	height:	900px;
}

.col-xs-6.text-right
{
	text-align:right;
	left:50%;
}

.notfound
{
	position:	absolute;
	left: 	25%;
	width:	50%;
	text-align: center;
}
